@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* width: 550px; */
    background-color:hsl(225, 100%, 94%);
    background-image: url('images/pattern-background-desktop.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   font-family: 'Red Hat Display';
   
   
   padding-top: 2em;
}
.summary-container {
    margin: auto;
    max-width: 400px;
    background-color:#fff;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 50px;
}
.summary-container .hero {
max-width: 400px;
border-radius: 20px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
margin-bottom: 25px;
}
 .header {
    color:  hsl(223, 47%, 23%);
    font-family: 'Red Hat Display';
    font-weight: 900;
    margin-bottom: 20px;
}
.about {
    font-size: 16px;
    width: 300px;
    margin-left: 50px; line-height: 25px;
   margin-bottom: 15px;
   color: hsl(0, 0%, 64%);
}
.plan-container {
    display: flex;
    align-items: center;
    width: 320px;
    margin-left: 50px;
    background-color: hsl(225, 100%, 98%);
    padding-right: 15px;
    padding: 20px 5px;
    border-radius: 15px;
    
}
.plan {
    margin-left: 25px;
}
 .annual {
    margin-bottom: 3px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    
    
}
.change  {
   margin-left: 60px; 
   color: hsl(245, 75%, 52%);
   font-weight: 700;
   text-decoration: underline;
   cursor: pointer;
}
.icon {
    margin-left: 15px;
}

form {
    display: block;
}
.payment {
    margin-top: 20px;
    margin-bottom: 20px;
    
    margin-left: 50px;
    margin-right: 30px;
    padding: 15px 0;
    border-radius: 10px;
    outline: 0;
    color:#fff;
    background-color: hsl(245, 75%, 52%);
    letter-spacing: 1.5;
    box-shadow: 0px 10px 5px hsl(224, 23%, 55%);
    cursor: pointer;
}
.order {
    color: hsl(0, 0%, 64%);
    font-weight: 700;
    cursor: pointer;
}
.payment:hover,
.order:hover,
.change:hover {
    opacity: 0.7;
}
.attribution {
    margin-top: 15px;
    margin-bottom: 0;
}